* {margin: 0; padding: 0;}
ul, li {  list-style: none;}
ul {
    text-align: center;
}
li {
    margin-top: 20px;
}
/*body {  font-family: 'Microsoft Yahei', 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif}*/
body { font-family: "Helvetica neue", "Segoe UI", Arial, "Microsoft Jhenghei", "Microsoft Yahei", Sans-serif;}
.main-nav a, .nav-menu a {  text-decoration: none; color: #9EABB3; }
.nav-menu {
    position: fixed;
    width: 240px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #111;
    opacity: 0;
    z-index: 111;
    overflow-x: hidden;
    -webkit-transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
    -moz-transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
    transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
}
.nav-opened .nav-menu {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);

    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav-closed .nav-menu {
    opacity: 0;
    -webkit-transform: translate3D(240px, 0, 0);
    -ms-transform: translate3D(240px, 0, 0);
    -moz-transform: translate3D(240px, 0, 0);
    transform: translate3D(240px, 0, 0);
}
.nav-title {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 45px;
    left: 30px;
}
.nav-items {
    padding: 90px 18px;
}
.left-site {
    position: relative;
    z-index: 10;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.nav-opened .left-site{
    -webkit-transform: translate3D(-140px, 0, 0);
    -ms-transform: translate3D(-140px, 0, 0);
    -moz-transform: translate3D(-140px, 0, 0);
    transform: translate3D(-140px, 0, 0);

    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.blog-header {
    position: relative;
    height: 120px;
}
.main-nav {
    position: relative;
    padding: 35px 40px 35px 40px;
    margin: 0 0 30px 0;
}

.menu-button {
    float: right;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #9EABB3;
    cursor: pointer;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-opened .menu-button {
    background: #111;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translate3D(30px, 0, 0);
    -ms-transform: translate3D(30px, 0, 0);
    -moz-transform: translate3D(30px, 0, 0);
    transform: translate3D(30px, 0, 0);
}

.nav-closed .menu-button {
    background: #fff;
}

/*左侧主要内容*/
.content {
    position: relative;
    margin: auto;
    width: 70%;
    min-width: 280px;
}
.content .list {
    font-weight: 600;
}
.back ul {
    padding-top: 5px;
}

.content a {
    text-decoration: none;
    color: #D0648A;
    text-shadow: 1px 1px #EFEFEF,2px 2px #CCC;
    font-size: 25px;
    transition: all 0.3s linear;
}
.inner-text{
    text-shadow: -1px 1px #EFEFEF,-2px 2px #CCC;
}
.catalog{
    display: inline-block;
    position: absolute;
    text-shadow: 2px 2px #EFEFEF,4px 4px #AEE2D9;
    color: #22C3AA;
    font-size: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.3s linear;
}

.back {
    position: relative;
    height: 500px;
    background-color: #EFEFEF;
    box-shadow: -2px -2px 3px #666;
    z-index: 1;
}

.rot-left {
    transform: rotate(5deg) ;
    -webkit-transform: rotate(5deg) ;
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg) ;
}
.rot-right {
    transform: rotate(-5deg) translateY(-100%);
    -webkit-transform: rotate(-5deg) translateY(-100%);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg) translateY(-100%);
}
.no-rot {
    -webkit-transform: translateY(-202%);
    -moz-transform: translateY(-202%);
    -ms-transform: translateY(-202%);
    transform: translateY(-202%);
}

.nav-items p {
    color: #fff;
}

.nav-items .img-header {
    display: block;
    width: 128px;
    height: 128px;
    margin: 40px auto;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    transition: transform 1s ease;
}

.nav-items .img-header:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.nav-items .img-header img {
    width: 100%;
    height: 100%;
    background: #88acdb;
}

/*页面卷脚*/
.page-footer {
    position: relative;
    height: 100px;
    margin-top: -10px;
    background-color: #EFEFEF;
    box-shadow: -2px -2px 3px #666;
    overflow: hidden;
}
.corner{
    background: -webkit-linear-gradient(45deg, #dfdfdf 15%, #efefef 35%,#efefef 40%,#cfcfcf 50%,#fff 50%,#fff);
    width: 90px;
    height:90px;
    border-radius: 0 0 0 90px / 0 0 0 30px;
    -webkit-transform: rotate(90deg);
    position: absolute;
    right:-4px;
    bottom: -4px;
    box-shadow: 5px 2px 8px #999;
    overflow:hidden;
    -webkit-transition:all 0.3s linear 0s;
}

/*clock样式*/
.clock {
    position: absolute;
    left: -75px;
    top: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}
.round {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.circle-black {
    height: 10px;
    width: 10px;
    background: #9EABB3;
}
.circle-white {
    height: 6px;
    width: 6px;
    background: #FA9F22;
    z-index: 111;
}

.anchor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.element {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
}
.thin-hand {
    width: 4px;
    background: #9EABB3;
    border-radius: 2px;

    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%,-100%);

}
.minute-hand {
    height: 40px;
}
.hour-hand {
    height: 30px;
}
.second-hand {
    width: 2px;
    height: 50px;
    background: #FA9F22;
    -webkit-transform: translate(-50%, -100%) translateY(10px);
    -moz-transform: translate(-50%, -100%) translateY(10px);
    -ms-transform: translate(-50%, -100%) translateY(10px);
    transform: translate(-50%,-100%) translateY(10px);
}

/*旋转字体样式*/
.uc-badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    -webkit-animation: a 5s infinite linear;
    -moz-animation: a 5s infinite linear;
    animation: a 5s infinite linear;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: all 0.3s linear;
}
.rotate-family {
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5em;
    text-align: justify;
    text-anchor: start;
    word-spacing: 0.5em;
}

@keyframes a {
    100% {
        -webkit-transform: rotate(-1turn);
        -moz-transform: rotate(-1turn);
        -ms-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@media screen and (max-width: 600px){
    .nav-closed .menu-button {
        border: none;
        padding: 0;
        font-size: 10px;
    }
    .rotate-family {
        font-size: 10px;
        letter-spacing: 0.4em;
        word-spacing: 1em;
    }

    .uc-badge {
        width: 100px;
        height: 100px;
    }
    .clock {
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
    }
    .minute-hand {
        height: 27px;
    }
    .hour-hand {
        height: 20px;
    }
    .second-hand {
        height: 40px;
    }
}

@media  screen and (max-width: 500px){
    .catalog {
        font-size: 35px;
    }
    .content a {
        font-size: 20px;
        text-shadow: 1px 1px #EFEFEF,1px 1px #CCC;
    }
}